
.item1{
    margin: 3px;
    display: inline;
    background-color: aqua;
    border: 10  px;
    border-color: black;
    border-style: solid;

}
.item2{
    margin: 3px;
    display: inline;
    background-color: aqua;
    border: 10  px;
    border-color: black;
    border-style: solid;

}
.item3{
    margin: 3px;
    display: inline;
    background-color: aqua;
    border: 10  px;
    border-color: black;
    border-style: solid;

}