@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.titulo {
    display: inline;
    color: #7858A6;
    font-size:100px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
/*
body{
    background: linear-gradient(rgba(0, 0, 255, 0.517), rgba(102, 0, 255, 0.346), rgba(204, 0, 255, 0.523));
}
*/
body{
    background: #371B58;
    font-family: 'DynaPuff', cursive;
}
.subtitulo{

}

.tarjetas{
    display: flex;
    gap: 10px;
}
#box{
    font-size:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0px 10px 7px 10px;
    border: 1px #7858A6;
    background-color: #4C3575;
    border-style: solid;
    border-radius: 10%;
    

}
button{
    background-color: #7858A6;
    border-radius: 260%;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    font-family: 'DynaPuff', cursive;
}

input{
    display: none;
}
#seleccionar-mascota{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    border: 10px;
    margin: 15px;
    font-size:25px;
    padding-bottom: 10px;
}