.titulo {
    display: inline;
    color: rgba(243, 247, 243, 0.436);
    font-size:100px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

body{
    background: linear-gradient(rgba(0, 0, 255, 0.517), rgba(102, 0, 255, 0.346), rgba(204, 0, 255, 0.523));
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0px 10px 7px 10px;
    border: 1px rgb(255, 255, 255);
    background-color: rgba(136, 62, 248, 0.371);
    border-style: solid;
    border-radius: 10%;
    
}
button{
    background-color: rgba(102, 102, 239, 0.604);
    border-radius: 260%;
    font-style: italic;
    color: rgba(21, 45, 21, 0.885);
}

.content-input{
	position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 60px; /* Damos un padding de 60px para posicionar el elemento <i> en este espacio*/
	display: block;
}

/* Estas reglas se aplicarán a todos las elementos i después de cualquier input*/
.content-input input + i{
    background: #f0f0f0;
    border:2px solid rgba(0,0,0,0.2);
    position: absolute; 
    left: 0;
    top: 0;
}

/* Estas reglas se aplicarán a todos los i despues de un input de tipo radio*/
.content-input input[type=radio] + i{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    left: 15px;
}
input[type="radio" i]{
    display: none;
}


#seleccionar-mascota{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-input input[type=radio] + i:before{
	content: '';
	display: block;
	height: 18px;
	width: 18px;
	background: red;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	top: 4px;
	left: 4px;
	background:#2AC176;
	transition: all 0.25s ease; /* Todas las propiedades | tiempo | tipo movimiento */
	transform: scale(0) /* Lo reducimos a 0*/ ;
	opacity: 0; /* Lo ocultamos*/
}